

.category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.category-img-wrapper {
  height: 400px;
  overflow: hidden;
}

.transition-zoom {
  transition: transform 0.4s ease;
}

.category-card:hover .transition-zoom {
  transform: scale(1.05);
}

/* productos */
.ver-productos {
  display: inline-block;
  color: #0d6efd;
  font-weight: 600;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.category-card:hover .ver-productos {
  transform: translateX(6px);
  text-decoration: underline;
}


@media (max-width: 768px) {
  .category-img-wrapper {
    height: 260px;
  }

  h1 {
    font-size: 1.6rem;
  }
}
